@import './../scss/lib/theme/vars';
.home{
  min-height: $section-height;
  width: 100%;
.keep{
  height: $min-height / 2;
  display: none;
  position: fixed;
}
.content_display{
  // background-image: url();
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  // z-index: 0;
    width: 100%;
    h2{
      width: 100%;
      text-align: center;
      padding-top: $gutter * 6;
    }

  }
  .scrollTop{
    height: 5em;
    width: 5em;
    position: fixed;
    top: 80%;
    left: 75%;
    cursor: pointer;
  }
@media screen and (min-height: 450px){
  .keep{
    display: block;
  }


}
@media screen and (min-width: 450px){
  .content_display > h2{
    padding-top: $gutter * 2;
  }
}
@media screen and (min-width: 1300px){
 .scrollTop{
   left: calc(50% + 280px);
 }
}
}
