@import './../scss/lib/theme/vars';
.home{
  min-height: 95vh;
  width: 100%;
.keep{
  height: 10vh;
  display: none;
}
  .content_display{
    min-height: 60vh;
    width: 100%;
    position: relative;
  }
@media screen and (min-height: 450px){
  .keep{
    display: block;
  }
}
}
