@import './../scss/lib/theme/vars';
.home{
  height: $section-height;
  width: 100%;
.keep{
  height: 15%;
}
  .content_display{
    // height: 75%;
    width: 100%;
    border: 2px solid $color;
  }
}
