<section class="home">
  <div class="keep"></div>
  <!-- <header>
  </header> -->

  <tabs></tabs>
  <div class="content_display">
      <h2 id="top"></h2>
      <about></about>
      <h2 id="workB"><span>&#9733;</span> Work <span> &#9733;</span></h2>
      <work></work>
      <h2 id="skillsB"><span>&#9733;</span> Skills <span> &#9733;</span></h2>
      <skills></skills>
      <h2 id="contactB" ><span>&#9733;</span> Contact <span> &#9733;</span></h2>
      <contact></contact>
  </div>
  <img ng-click="homeCtrl.toTheTop()" class="scrollTop" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-paint-splatter-icons-alphanumeric/069038-black-paint-splatter-icon-alphanumeric-caret1.png"/>
</section>
