.contact{
  min-height: 100%;
  width:100%;

  div{
    width: 100%;
    min-height: 60vh;
  }
 .left{
   
 }
 .right{
   p{
     height: 60%;
     width: 90%;
     margin-left: $gutter;
     margin-top: 20%;
     box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.16);
   }
 }
 @media screen and (min-width: 550px){
   div{
     position: absolute;
   }
   .right{
     display: block;
     width: 40%;
     left: 60%;
   }
 }
 }
