@import './../scss/lib/theme/vars';

.art{
  width: 80vw;
  height: 85vh;
  position: absolute;
  top: $gutter;
  left: $gutter * 2;
  background-size: .12em 100%;
  font: 10em/1 'Nunito', sans-serif;


  // $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798; // default
  $colors: #21D6FF, #491635, #222E51, #000000, #FF8536;   // black bule orange // currently deployed
  // $colors: #262224, #89A887, #705F55, #732F26, #F3EEF2; // black to brown
  // $colors: #D8D5B1, #FF4F00, #2A3E4F, #4D7F5A, #AEB193;

.text--line {
  font-size: .5em;
  }
.text--line-3{
font-size: 0.3em;
}
.text--line-4{
font-size: 0.2em;
}
svg {
    width: 100%;
    height: 100%;
  }
$max: 5;
$stroke-step: 7%;

.text-copy {
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;

  animation: stroke-offset 9s infinite alternate;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
      }
    }
  }

@keyframes stroke-offset {
  0%{
   fill: #fff;
 }
  50% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: 0 $stroke-step * $max*2.5;
    fill: #999;
  }
  100%{
    fill: #fff;
  }
}


}
