<section class="art">
  <!-- <canvas id="myCanvas"></canvas> -->
  <svg>
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="35%"
          class="text--line"
          >
      Hello there ...
    </text>
    <text text-anchor="middle"
          x="50%"
          y="40%"
          class="text--line-4"
          >
      This is
    </text>
    <text text-anchor="middle"
          x="50%"
          y="58%"
          class="text--line2"
          >
      Bhavya
    </text>
    <text text-anchor="middle"
          x="50%"
          y="70%"
          class="text--line-3"
          >
      A Web Developer
    </text>
  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
  </g>


</svg>
</section>
