.tabs{
  background-color: $black;
  color: $white;
  padding-top: $gutter;
  width: 100%;
  max-width: 960px;
  position: fixed;
  z-index: 1;
  .ham:hover{
    outline: none;
  }
  .ham{
    img{
      height: 1em;
      width: 1em;
    }
  }
  ul{
    width: 50%;
    margin-left: 25%;
  }
   li{
     width: 100%;
     text-align: center;
     padding: $gutter/5;
     cursor: pointer;
     outline-radius: $bdRdius;
     margin-bottom: $gutter/2;
     z-index: 100;
   }
   li:hover{
    outline: 1px solid $white;
   }
   li:active{
     outline: 1px solid $white;
   }
}
@media screen and (min-width:450px){
  .tabs ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.ham {
  display: none;
}
}
