.skills{
  height: 100%;
  width:100%;
  position: relative;

div{
  width: 100%;
  min-height: 60vh;
  // border: 2px solid black;
}

.left{
  display: none;
}
.left p{
  width: 70%;
  min-height: 45%;
  margin-left: 15%;
  margin-top: 35%;
  text-align: center;
}
.under{
  padding: $gutter * 2;
  margin: $gutter 0;
  text-align:justify;
  background-color: $white;
}
.right ul{
  width: 78%;
  height: 80%;
  margin-left: $gutter * 2;
  margin-top: $gutter * 4;
  overflow-y: hidden;
}
.right li {
  cursor: pointer;
  margin-bottom: $gutter/4;
  padding: $gutter/2;
  border-radius: 5px;
}
// .right li:hover{
//   background-color: rgba(8,8,8,0.78);
//   span{
//     color: $white;
//   }
// }
.rating{
  float: right;
}

@media screen and (min-width: 650px){
  div{
    position: absolute;
    width: 50%;
  }
  .left{
    display: block;
    left: 50%;
  }
  .under{
    display: none;
  }
}

}
