<section id="skillsB" class="skills">
<div class="right">
 <ul>
   <li
   ng-mouseenter="skillsCtrl.default = false; x.showDetail = true"
   ng-mouseleave="skillsCtrl.default = true; x.showDetail = false"
   ng-repeat="x in skillsCtrl.mySkills">
     <span class="responsive">{{x.name}}</span>
     <span class="rating">
       <span ng-repeat="number in skillsCtrl.getStars(x.star) track by $index">&#9733;</span>
       <span ng-repeat="number in skillsCtrl.getStars(5 - x.star) track by $index">&#9734;</span>
     </span>
     <p class="under well well-lg"
      uib-collapse="!x.showDetail">
       {{x.detail}}
     </p>
   </li>
 </ul>
</div>
  <div class="left">
    <!-- <li class="quote">&#10077</li> -->
    <p ng-show="skillsCtrl.default">
        Move your mouse over each skill to get more info...
    </p>
    <p ng-show="x.showDetail"
    ng-repeat="x in skillsCtrl.mySkills" >
    {{x.detail}}
  </p>
  <!-- <li class="quote">&#10078</li> -->
  </div>
</section>
<!-- /*&#9733;&#9734;*/ -->
