.sticky{
  width: 10vw;
  position: fixed;
  top: 35vh;
  right: -3vw;
  background-color: $black;
  border-radius: 5px;
  z-index: 100;
  display: none;
  img{
    height: 3vh;
    width: 3vh;
    margin: $gutter * 2;
  }


  @media screen and (min-width:400px){
    right: -2vw;
    display: block;
  }
  @media screen and (min-width:600px){
    right: -4vw;
  }
  @media screen and (min-width:900px){
    right: -6vw;
  }
  @media screen and (min-width:1300px){
    right: -7vw;
  }
}
