@import './../scss/lib/theme/vars';
.about{
 // height: 100%;
 width: 100%;
 h2{
  text-align: center;
  padding-bottom: 1em;
  font-size: 2em;
  margin-top: $gutter;
  // font-family: 'Vibur', cursive;
font-family: 'Dawning of a New Day', cursive;
}
img{
  height: 40%;
  width: 30%;
  max-width: 150px;
  max-height: 150px;
  border-radius: $gutter * 50;
  margin-left: 35%;
}
 p, .connect-me{
  width: 70%;
  max-width: 450px;
  margin-left: $gutter * 3;
  text-align: justify;
  margin-top: $gutter;
  color: $color;
}
.connect-me li{
  display: block;
  height: 1.5em;
}
.connect-me a{
  display: inline-block;
  font-weight: bold;
  padding-right: 0.5em;
  color: $black;
  text-align: center;
}
}
@media screen and (min-width: 450px){
  .about img{
  margin-left: calc(50% - 75px);
  }
}
@media screen and (min-width: 625px){
  .about p{
    margin-left: calc(50% - 225px);
  }
}
