<section class="about">
  <div class="visibility"><li></li></div>
  <h2>Bhavya Bharti</h2>
  <p>
    I'm freelancer full stack developer living in Seattle WA.
    I have strong technical knowledge with good experiance in
    javascript back end and frontend developement. I spend my days
    developing apps or websites to help humans solve there problems in a clean,
    modern, and usable manner.
  </p>
  <ul class="connect-me">
    <li>I'm here :)  <a class="underline" href="mailto:bhavyab@outlook.com" target="_blank">say hi</a></li>
    <li>Visit me on  <a class="underline" href="https://www.linkedin.com/in/bhavyabharti/" target="_blank">LinkedIn</a></li>
    <!-- <li><a class="underline" href="mailto:bhavyab@outlook.com" target="_blank">Blogs</a></li> -->
  </ul>
</section>
