.work{
  height: 100%;
  width:100%;

  .container {
    margin-top: $gutter * 4;
    width: 50%;
    min-height: 50%;
    position: relative;
    perspective: 1000px;
    padding: 0px;
  }

  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .item {
    display: block;
    position: absolute;
    background: $white;
    border: 1px solid $black;
    width: 90%;
    min-inline-size: 90%;
    font-size: 70%;
    font-weight: lighter;
    text-align: center;
    color: $black;
  }
  .project-header{
    min-height:45vh;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.16);
    a{
    background-color: #ce191a;
    color: $white;
    z-index: 100;
    margin-bottom: 10%;
  }
  }
  .project-info{
    min-height: 20%;
    width:100%;
    position: absolute;
    top: $gutter * 5;
    vertical-align: baseline;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.6);
    color: $white;
    h2{
      margin: $gutter 0;
    }
    p{
      display: none;
      width: 80%;
      margin-left: $gutter*2;
      padding: $gutter;
    }
  }
  .next, .prev {
    font-size: 2em;
    position: absolute;
    // padding: 1em 2em;
    height: 100%;
    width: 25%;
    cursor: pointer;
  }
  .next { right: 0; }
  .prev { left: 0; }
  @media screen and (min-width: 650px){
    .container{
    margin-top: $gutter;
    }
    .project-info{
      top: $gutter * 4;
    }
  }
  @media screen and (min-height: 830px){
    .project-info{
      top: $gutter;
      h2{
        display: none;
      }
      p{
        display: block;
      }
    }
  }
}
