<section class="work">
<div class="container">
<div class="carousel">
      <div ng-repeat="x in workCtrl.projects"
            class="item"
            id="$index"
            ng-style="workCtrl.transform($index)"
            >
            <div class="left" style="background-image: url({{x.image}})">{{x.name}}</div>
            <div class="right">

            </div>
            <!-- <img src=x.image alt="Bhavya Bharti"> -->
          </div>
    </div>
</div>
<div ng-click="workCtrl.rotate($event)" class="prev"></div>
<div ng-click="workCtrl.rotate($event)" class="next"></div>
</div>
</section>
<!-- &#10096 -->
